/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import 'https://fonts.googleapis.com/css?family=Reenie+Beanie';
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

:root {
  font-size: 10px; }

:focus {
  outline: 0; }

.reenie, a.title p, footer {
  font-family: 'Reenie Beanie', cursive; }

/*
@media screen and (min-width: 500px){ }
@media screen and (min-width: 740px){ }
@media screen and (min-width: 980px){ }
@media screen and (min-width: 1220px){ }
*/
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222; }

html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h2 {
  font-size: 1.4rem; }

.hero {
  background: #000;
  background-image: linear-gradient(transparent 60%, black), url(../img/lion_small.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 70%;
  position: relative; }
  @media screen and (min-width: 500px) {
    .hero {
      background-image: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.7)), url(../img/lion_med.jpg);
      background-position: center; } }
  @media screen and (min-width: 740px) {
    .hero {
      background-image: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.7)), url(../img/lion_lg.jpg); } }
  @media screen and (min-width: 980px) {
    .hero {
      background-image: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.7)), url(../img/lion_xlg.jpg); } }
  @media screen and (min-width: 1220px) {
    .hero {
      background-image: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.7)), url(../img/lion.jpg); } }

a.title {
  position: absolute;
  right: 15%;
  bottom: 70px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  transition: all .2s ease;
  animation-delay: 1s;
  line-height: .9; }
  @media screen and (min-width: 500px) {
    a.title {
      right: 15%;
      bottom: 20px; } }
  a.title p {
    font-size: 6rem;
    margin: 0; }
    @media screen and (min-width: 500px) {
      a.title p {
        font-size: 8rem; } }
  a.title .subline {
    font-size: 2rem;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300; }
  a.title i {
    font-size: 3rem; }
    @media screen and (min-width: 500px) {
      a.title i {
        font-size: 5rem; } }
  a.title:hover {
    color: rgba(255, 255, 255, 0.5); }
    @media screen and (min-width: 500px) {
      a.title:hover {
        right: 15%;
        bottom: 10px; } }

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.8rem;
  padding: 40px 0; }
  @media screen and (min-width: 500px) {
    .container {
      width: 70%; } }
  @media screen and (min-width: 740px) {
    .container {
      width: 60%; } }

/*
.warning{
  position: relative;
  padding: 20px;
  background: #eec8a2;
  border-radius: 5px;
  color: #333;
  p{
    margin: 0 0 20px 0;
  }
  a{
    text-decoration:  none;
    color: #666;
    background: rgba(255,255,255,.2);
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 1.4rem;
    &:hover{
      background: rgba(255,255,255,.5);
    }
  }
  i{
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgba(200, 0, 0, .6);
    cursor: pointer;
  }
}
*/
#opener {
  background-color: #eec8a2;
  color: #333; }
  #opener:hover {
    background-color: #e6af77; }

.lightmode {
  background-color: #f9f9f9;
  color: #333; }

.darkmode {
  background-color: #333;
  color: #f9f9f9; }

.sepiamode {
  background-color: #f2d5b8;
  color: #333; }

.controls {
  padding: 10px; }
  .controls .color {
    float: right; }
  .controls button {
    font-family: serif;
    font-size: 1.4rem;
    padding: 3px 15px;
    border: 0;
    border-radius: 3px;
    margin-right: 5px; }
  .controls .light {
    background: #fff;
    color: #333; }
    .controls .light:hover {
      background: #ccc; }
  .controls .dark {
    background: #000;
    color: #f1f1f1; }
    .controls .dark:hover {
      background: #555; }
  .controls .sepia {
    background: #eec8a2;
    color: #333; }
    .controls .sepia:hover {
      background: #e6af77; }

footer {
  height: 80px;
  line-height: 80px;
  background: #222;
  text-align: center; }
  footer p {
    margin: 0;
    color: #f9f9f9;
    font-size: 2.6rem; }
    @media screen and (min-width: 500px) {
      footer p {
        font-size: 3.6rem; } }

.alert {
  position: relative;
  padding: 20px;
  background: #eec8a2;
  border-radius: 5px;
  color: #333;
  font-size: 1.6rem;
  margin: 10px; }
  .alert i {
    position: absolute;
    top: 0;
    right: 0;
    color: #c80000;
    cursor: pointer; }

.ui-widget-overlay {
  opacity: 0.8;
  filter: Alpha(Opacity=50);
  background-color: black; }

.ui-dialog-titlebar {
  display: none; }

.ui-widget.ui-widget-content {
  border: 0; }

/* ==========================================================================
Media Queries
========================================================================== */
/* ==========================================================================
Helper classes
========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
Print styles
========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
